body {
    /* background-color: #FFF8DC; */
    background-color: blanchedalmond;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #432109;
    font-family: 'Roboto', sans-serif;
}


#menu {
    width: 100%;
    height: 100%;
    background-color: rgba(240, 255, 255, 0.17);
}


.menuWrapper {
    /* background-color: blanchedalmond; */
    height: 100%;
    transition: width 0.5s;
}

.sideMenuControl {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburgerMenu {
    font-size: 35px;
    cursor: pointer;
    margin: 15px;
}

.sideMenuContentWrapper {
    width: 100%;
    height: 95%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 5px;
}

.subMenuWrapper {
    width: 90%;
    height: 60px;
    background: burlywood;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 20px;
   /* overflow: hidden; */
    transition: height 0.5s;
}

.layerName {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    height: 60px;
}

.layerContent {
    width: 100%;
    height: 0%;
    transition: height 0.5s;
    height: 0%;
}

.subMenuWrapperShowHideButton {
    width: 20%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 0px 20px 20px 0px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    background-color: #432109;
    border-radius: 50px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .menuWrapper {
        width: 100vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .menuWrapper {
        width: 100vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .menuWrapper {
        width: 30vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .menuWrapper {
        width: 25vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .menuWrapper {
        width: 20vw;
    }
}